.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-dark);
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 375px;
  height: 100%;
  background-color: var(--secondary-dark);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
