body {
  --primary-dark: #0e0c15;
  --secondary-dark: #121825;

  --primary-text: #ffffff;
  --secondary-text: #9ca3af;

  --primary-border: #222b44;
  --secondary-border: #313e62;

  --primary-red: #fe4242;

  --primary-green: #1abb34;

  --primary-blue: #1c64f2;

  --primary-hover: #313e62;
}
