@font-face {
  font-family: IBMPlexSans;
  src: url("./fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: IBMPlexSans-Medium;
  src: url("./fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBMPlexSans-Semibold;
  src: url("./fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: IBMPlexSans-Bold;
  src: url("./fonts/IBMPlexSans-Bold.ttf");
}
