@use "shared/styles/mixins.scss";

.header {
  background-color: var(--secondary-dark);
  border-radius: 17px;
  padding: 15px 25px;

  @include mixins.for-mobile {
    padding: 15px 20px;
  }
}

.header__left {
  @include mixins.for-mobile {
    justify-content: space-between !important;
  }
}
